<html>
    <head>
        <title>Anonym.</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    </head>
    <body>
        <div class = "container">
           <h1 class="mb-4">Write a New Anonym Blog</h1>
           <form action="/articles" method="POST">
               <%- include("_form_field"); %>
           </form>
        </div>
    </body>
</html>